<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <title>Space</title>
    <style>body {
  background: #222;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  display: flex;
}

#game-container {
  box-shadow: 0 0 16px #000;
}
</style>
</head>
<body>
<header><p>Space</p></header>

<div id="content">
    <div id="rtc-container" style="display: flex">
        <div id="camera-container"></div>
        <div id="microphone-container"></div>
    </div>
    <div id="game-container"></div>
</div>

<footer>Enjoy</footer>

<script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="module" src="/js/dummy.5d840517.js"></script>
<script type="module" src="/js/dummy.6b0d4553.js"></script>

</body></html>