<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <title>Space</title>
    <style>body {
  background: #222;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  display: flex;
}

#game-container {
  box-shadow: 0 0 16px #000;
}
</style>
</head>
<body>
<header><p>Space</p></header>

<div id="content">
    <div id="game-container"></div>
</div>

<footer>Enjoy</footer>

<script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
<script type="module" src="/js/dummy.65b7e6c5.js"></script>
<script type="module" src="/js/dummy.8a0ccb47.js"></script>

</body></html>