<!DOCTYPE html>
<!--<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{:: script})}">-->
<head>
    <meta charset="UTF-8">
    <title>Space</title>
<!--    <link rel="stylesheet" href="../../static/css/phaser.css">-->
    <style>
        body {
            margin: 0;
            background: #222;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #game-container {
            box-shadow: 0 0 16px #000;
        }
    </style>
</head>
<body>
  <header><p>Space</p></header>

<!--    <main>-->
<!--      <canvas id="gameCanvas">-->
<!--      </canvas>-->
<!--    </main>-->
  <div id="content">
      <div id="game-container"></div>
  </div>

  <footer>Enjoy</footer>

  <script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>